@media only screen and (max-width: 680px) {
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cornsilk;
}
h1{
    font-size: 300%;
    text-align: center;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #557bbb;
}

li.navbar {
    float: left;
}

ul.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
}

a.active{
    background-color: #3F67A6;
}

ul.navbar a:hover{
    background-color: #1f293a;
}

img.portrait{
    border: 10px solid rgb(237, 225, 208);
    width: 60%;
}

h2.portrait{
    font-size: 200%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: bisque;
    width: 60%;
    text-align: center;
}

.grid-container{
    display: grid;

}

.miumiu_photos{
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
}
}